#code{
    border-radius: 15px;
}
.nav{
    padding-left: 200px;
}
#two{
    background-color: rgb(241, 169, 179);
    padding: 100px 200px;
    text-align: left;

}

#five{
    padding: 200px;

}
.six{
    background-color: aqua;
}
.gimg{
    height: 300px;
    width: 150px;
    gap: 10px;
    margin-top: 20px;
}
.teamimg{
    height: 210px;
    width: 210px;
    gap: 2px;
    
}
.hr1{
    width: 100px;
    color:orange;
    translate: 38rem;
    height: 10px;
    
}
.hr2{
    color:orange;
    width: 90px;
    height: 10px;
    translate: 27rem;
}
.hr3{
    color: orange;
    translate:20rem ;
    width: 90px;
    height: 10px;
}

.clients{
    height:100px;
    width: 120px;
    padding-bottom: 20px;
    word-spacing: 20px;
    
}
.footer{
    padding-left: 200px;
    padding-right: 200px;
}

.portfolio{
    text-align: center;
    word-spacing: 10px;
    word-spacing: 20px;
}